apiVersion: v1
kind: Service
metadata:
  name: {{ include "fritzbox-exporter.fullname" . }}
  namespace: {{ template "fritzbox-exporter.namespace" $ }}
  labels:
    {{- include "fritzbox-exporter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: {{ template "fritzbox-exporter.name" . }}
      port: {{ .Values.service.port }}
      targetPort: 9042
      protocol: TCP
  selector:
    {{- include "fritzbox-exporter.selectorLabels" . | nindent 4 }}
